.postsContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: solid rgb(146, 90, 197) 2px;
  border-radius: 10px;
  background-color: #5f5d5d;
  color: blueviolet;
  height: 200 px;
  width: 600;
}

.post-title {
  padding: 2px;
  font-weight: bold;
  color: rgb(79, 33, 122);
}
.post-text {
  padding: 5px;
  color: rgb(30, 2, 48);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #5f5d5d; */
  color: rgb(79, 33, 122);
  margin: 1rem auto;
  padding: 1rem;
}
