/* .posts-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: solid blueviolet 2px;
  border-radius: 10px;
  background-color: rgb(52, 52, 52);
  color: blueviolet;
  height: 200 px;
  width: 600;
} */
