.form-controls {
  display: none;
}
.formNameLabel {
  display: block;
  margin: 2px;
}

.formNameText {
  display: block;
  margin: auto;
  background-color: blueviolet;
}

.formCommentLabel {
  display: block;
  margin: 2px;
}
.formCommentText {
  /* display: block; */
  margin: 2px;
  background-color: blueviolet;
  height: 70px;
  text-align: left;
}

.newThreadButton {
  background-color: blueviolet;
  border-radius: 8px;
  transition: ease-out 1.1s;
  margin-top: 5px;
}

.newThreadButton:hover {
  box-shadow: inset 300px 0 0 0.01px gold;
}

.newThreadSubmit {
  display: block;
  margin: auto;
  margin-top: 5px;
  background-color: blueviolet;
  border-radius: 8px;
  transition: ease-out 1.1s;
}

.newThreadSubmit:hover {
  box-shadow: inset 300px 0 0 0 gold;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.refreshButton {
  background-color: blueviolet;
  border-radius: 8px;
  transition: ease-out 1.1s;
  margin-top: 5px;
}

.refreshButton:hover {
  box-shadow: inset 300px 0 0 0 gold;
}
