.postBox {
  border-radius: 10px;
  margin: 10px;
  border: solid blueviolet 2px;
  background-color: #383939;
  color: rgb(244, 225, 244);
  height: 150px;
  width: 150px;
  transition: ease-out 1.1s;
  overflow: hidden;
}

.postbox:hover {
  cursor: pointer;
  box-shadow: inset 300px 0 0 0 gold;
}

.postPreview {
  cursor: pointer;
  transition: ease-out 1.1s;
}
/* .postBox:hover */
/* 
.newThreadButton {
  background-color: blueviolet;
  border-radius: 8px;
  transition: ease-out 1.1s;
}

.newThreadButton:hover {
  box-shadow: inset 300px 0 0 0 gold;
} */
